doctype html
html
    head
        meta(charset='utf-8')
        base(href='/')

        title Read The Bloody Manual - Web Developers' Space @ rtbm.space

        meta(name='viewport', content='initial-scale=1, maximum-scale=1')

        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Abel')
        link(rel='stylesheet', href='style.css')

        script(src='node_modules/es6-shim/es6-shim.min.js')
        script(src='node_modules/angular2/bundles/angular2-polyfills.min.js')
        script(src='node_modules/systemjs/dist/system.js')
        script(src='node_modules/rxjs/bundles/Rx.min.js')
        script(src='node_modules/angular2/bundles/angular2.js')
        script(src='node_modules/angular2/bundles/router.min.js')
        script(src='node_modules/angular2/bundles/http.min.js')

        script.
            System
                .config({
                    packages: {
                        app: {
                            format: 'register',
                            defaultExtension: 'js'
                        }
                    }
                });

            System
                .import('app/src/boot')
                .then(null, console.error.bind(console));

    body
        .wrapper
            header.header
                pre
                    |  ██▀███  ▄▄▄█████▓ ▄▄▄▄    ███▄ ▄███▓
                    | ▓██ ▒ ██▒▓  ██▒ ▓▒▓█████▄ ▓██▒▀█▀ ██▒
                    | ▓██ ░▄█ ▒▒ ▓██░ ▒░▒██▒ ▄██▓██    ▓██░
                    | ▒██▀▀█▄  ░ ▓██▓ ░ ▒██░█▀  ▒██    ▒██
                    | ░██▓ ▒██▒  ▒██▒ ░ ░▓█  ▀█▓▒██▒   ░██▒
                    | ░ ▒▓ ░▒▓░  ▒ ░░   ░▒▓███▀▒░ ▒░   ░  ░
                    | ░▒ ░ ▒░    ░    ▒░▒   ░ ░  ░      ░
                    | ░░   ░   ░       ░    ░ ░      ░
                    | ░               ░             ░

                h1 Read The Bloody Manual - Web Developers' Space

            my-app Loading

            footer.footer
                small
                    i &copy; 2016 :: bugs by nature ::
                        a(href='mailto:webmaster@rtbm.space') feel free to @contact