<header>
  <rtbm-wrapper>
    <rtbm-logo></rtbm-logo>
  </rtbm-wrapper>
</header>

<rtbm-header>
  <rtbm-wrapper>
    <button (click)="articleFormActions.showForm()">Submit content proposal</button>
    <rtbm-search (onKeyup)="articlesActions.setFilter($event)"></rtbm-search>
  </rtbm-wrapper>
</rtbm-header>

<rtbm-list>
  <rtbm-wrapper>
    <rtbm-spinner *ngIf="(isPending$ | async)"></rtbm-spinner>
    <div *ngFor="let item of (list$ | async)" class="item" (click)="open(item.url)">
      <h2>{{item.name}}</h2>
      <div>{{item.url}} @
        <time>{{item.createdAt}}</time>
      </div>
    </div>
    <h2 *ngIf="!(isPending$ | async) && !(list$ | async).length">Sadly, not found :(</h2>
  </rtbm-wrapper>
</rtbm-list>

<footer class="footer">
  <small><i>&copy; 2016 :: bugs by nature ::<a href="mailto:webmaster@rtbm.space">feel free to @contact</a></i>
  </small>
</footer>

<rtbm-submission *ngIf="isModalFormVisible$ | async"></rtbm-submission>
