<rtbm-overlay>
  <div class="inner">
    <form [ngFormModel]="form" (submit)="handleSubmit()">
      <div class="form-group">
        <label>Site URL (HTTPS preferred)<em>*</em></label>
        <input type="text" ngControl="url" placeholder="(required)" />
        <div class="form-error" *ngIf="!url.valid && url.touched">Field is required</div>
      </div>
      <div class="form-group">
        <label>Short description<em>*</em></label>
        <input type="text" ngControl="name" placeholder="(required)" />
        <div class="form-error" *ngIf="!name.valid && name.touched">Field is required</div>
      </div>
      <div class="form-actions">
        <button (click)="handleCancel($event)">Cancel</button>
        <button type="submit" [disabled]="!url.valid || !name.valid">Submit</button>
      </div>
    </form>
  </div>
</rtbm-overlay>
